<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437163068952-r7eonmids47deeqgu014f8da9nmudfg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437163068952-r7eonmids47deeqgu014f8da9nmudfg9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAGoZhlGKrFfbGQxl5fgp1nEACaYF1fyw</string>
	<key>GCM_SENDER_ID</key>
	<string>437163068952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgarsia.sasisavor</string>
	<key>PROJECT_ID</key>
	<string>sasisavor</string>
	<key>STORAGE_BUCKET</key>
	<string>sasisavor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437163068952:ios:8a923ae4786b06d1977d6d</string>
	<key>DATABASE_URL</key>
	<string>https://sasisavor.firebaseio.com</string>
</dict>
</plist>